@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');

body{
  background-color: royalblue;
  text-align: center;
}

.gifs{
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gif{
  padding: 0 2px;
}

.loader{
  color: blueviolet;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: black;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

link {
  color: #73fb61;
}

.logo{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav{
  background-image: url("https://media.giphy.com/media/Id66GDfKacJzxSvhqV/giphy.gif");
  height: 10vmin;
  
}

.b-topg {
 text-align: right;
 padding-top: 1em;
 padding-right: 8em;
 color: white;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: medium;
 list-style: none;
 font-weight: bold;
}








